.app-header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content-area {
    flex: 1;
    display: flex;
  }
  